/*

Name: BetterChat
Type: Addon
Author: Kurou#7608
Version 1.0.3
Website https://kinmokusei.dev/

*/

:root {
	/* Colors */
    --color-accent: 250, 0, 0;                      /* 0, 250, 250 */
    --color-accent2: 200, 0, 0;                     /* 0, 150, 200 */
    --color-normal: 250, 250, 250;                  /* 250, 250, 250 */
    --color-hidden: 150, 150, 150;                  /* 150, 150, 150 */
	--color-background: 35, 35, 35;                 /* 35, 35, 35 */
    --color-background2: 20, 20, 20;                /* 20, 20, 20 */
}

/* Dividers */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .divider-IqmEqJ {
    border: none !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .divider-IqmEqJ .content-3spvdd {
    background-color: rgb(var(--color-background2), 0.7) !important;
    border-radius: 3px !important;
    padding: 5px !important;
    width: 100% !important;
    text-align: center !important;
    text-transform: uppercase !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .divider-IqmEqJ.isUnread-3Lojb- .content-3spvdd {
    color: rgb(var(--color-accent)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .divider-IqmEqJ.isUnread-3Lojb- .unreadPill-3nEWYM {
    display: none !important;
}

/* Avatar */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .avatar-2e8lTP {
    border-radius: var(--roundness) !important;
    margin-left: -80px !important;
}

/* Message */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3.groupStart-3Mlgv1 {
    margin-top: 15px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 {
    background-color: rgb(var(--color-background2), 0.5) !important;
    backdrop-filter: blur(2px);
    border-radius: 0 !important;
    margin-left: 80px !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3.groupStart-3Mlgv1::before {
    content: '' !important;
    position: absolute !important;
    background: linear-gradient(to top right, rgb(var(--color-background2), 0.7) 50%, transparent) !important;
    width: 20px !important;
    height: 20px !important;
    z-index: -1 !important;
    top: 10px !important;
    left: -10px !important;
    transform: rotate(45deg) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .header-2jRmjb .headerText-2z4IhQ .botTag-1NoD0B,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .repliedMessage-3Z6XBG .botTag-1NoD0B {
    background-color: rgb(0, 0, 0) !important;
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .header-2jRmjb .timestamp-p1Df1m {
    color: rgb(var(--color-hidden)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .timestampVisibleOnHover-9PEuZS{
    margin-left: -70px !important;
}

/* Replied Message */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3.groupStart-3Mlgv1 .repliedMessage-3Z6XBG::before {
    border-top: 5px solid !important;
    border-left: 5px solid !important;
    border-color: rgb(var(--color-background2), 0.7) !important;
    border-radius: 0 !important;
    margin-top: -9px !important;
    margin-bottom: -15px !important;
    margin-left: -15px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .repliedMessage-3Z6XBG .replyAvatar-sHd2sU {
    border-radius: var(--roundness) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .repliedMessage-3Z6XBG .username-h_Y3Us {
    color: rgb(var(--color-accent)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .repliedMessage-3Z6XBG .repliedTextPreview-1bvxun {
    color: rgb(var(--color-hidden)) !important;
}

/* Message Mention */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3.mentioned-Tre-dv {
    border-left: 3px solid rgb(250, 0, 0) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3.mentioned-Tre-dv.groupStart-3Mlgv1::before {
    content: '' !important;
    position: absolute !important;
    background: linear-gradient(to top right, rgb(250, 0, 0, 0.7), transparent 70%) !important;
    width: 20px !important;
    height: 20px !important;
    z-index: -1 !important;
    top: 10px !important;
    left: -12px !important;
    transform: rotate(45deg) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .markup-eYLPri .mention,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .markup-eYLPri .channelMention,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .markup-eYLPri .roleMention-11Aaqi {
    background-color: rgb(var(--color-background)) !important;
    color: rgb(var(--color-normal)) !important;
    border-radius: 3px !important;
    transition: color .1s ease-in-out !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .markup-eYLPri .mention:hover,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .markup-eYLPri .channelMention:hover,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .markup-eYLPri .roleMention-11Aaqi:hover {
    color: rgb(var(--color-accent)) !important;
}

/* Message Bot */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3.ephemeral-2nDdnn {
    border-left: 3px solid rgb(0, 0, 250) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3.ephemeral-2nDdnn.groupStart-3Mlgv1::before {
    content: '' !important;
    position: absolute !important;
    background: linear-gradient(to top right, rgb(0, 0, 250, 0.7), transparent 70%) !important;
    width: 20px !important;
    height: 20px !important;
    z-index: -1 !important;
    top: 10px !important;
    left: -10px !important;
    transform: rotate(45deg) !important;
}

/* Message Edit */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .scrollableContainer-15eg7h {
    background-color: rgb(var(--color-background2)) !important;
    box-shadow: 0px 0px 5px rgb(var(--color-accent), 0.3) !important;
    border-radius: 3px !important;
}

/* Attachments */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .imageContainer-10XenG .imageWrapper-oMkQl4 {
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .imageContainer-10XenG .imageWrapper-oMkQl4 .gifTag-1TvtGO {
    border-radius: 3px !important;
    opacity: 0.5 !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .attachment-1PZZB2,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapperAudio-1Bzv_Z {
    background-color: rgb(var(--color-background)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .attachment-1PZZB2 .attachmentInner-1fP7iq .filenameLinkWrapper-3Rc6sk,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .attachment-1PZZB2 .attachmentInner-1fP7iq .filenameLinkWrapper-3Rc6sk .anchor-1X4H4q,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapperAudio-1Bzv_Z .audioMetadata-1Hrt8T .metadataContent-lalfZ3 .anchor-1X4H4q {
    color: rgb(var(--color-normal)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .attachment-1PZZB2 .attachmentInner-1fP7iq .metadata-1E7Z4i,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapperAudio-1Bzv_Z .audioMetadata-1Hrt8T .metadataSize-2A2s1T {
    color: rgb(var(--color-hidden)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .attachment-1PZZB2 .icon-1KCy88[title="unknown"] {
    display: none !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .attachment-1PZZB2 .icon-1KCy88[title="archive"] {
    content: url('https://kurou-kun.github.io/discord-addons/source/zip.png') !important;
    width: 40px !important;
    height: 40px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapperAudio-1Bzv_Z {
    border-radius: 3px !important;
    border: none !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapperAudio-1Bzv_Z .audioMetadata-1Hrt8T::before {
    background-image: url('https://kurou-kun.github.io/discord-addons/source/music.png') !important;
    width: 40px !important;
    height: 40px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya {
    border-radius: 3px !important;
    margin-top: 10px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .videoButton-3NM9Tc .controlIcon-1grhw_ {
    color: rgb(var(--color-accent)) !important;
    transition: all .2s ease-in !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .durationTimeWrapper-LdSEv8 .durationTimeDisplay-QwCeRr {
    color: rgb(var(--color-normal)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .durationTimeWrapper-LdSEv8 .durationTimeSeparator-1Cqi9N {
    color: rgb(var(--color-hidden)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY::after,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY::before {
    background-color: rgb(var(--color-background)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .buffer-3eVqKK,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .buffer-3eVqKK::after,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .buffer-3eVqKK::before {
    background-color: rgb(var(--color-accent2), 0.5) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarProgress-38I317,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarProgress-38I317::after,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarProgress-38I317::before {
    background-color: rgb(var(--color-accent)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .bubble-3XikHF {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: 3px !important;
    margin-top: -5px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .bubble-3XikHF::before {
    display: none !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarGrabber-FvJKJg {
    background-color: rgb(var(--color-accent2)) !important;
    border-radius: var(--roundness) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY::before,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .buffer-3eVqKK::before,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarProgress-38I317::before,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarPreview-1gUbVy::before{
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY::after,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .buffer-3eVqKK::after,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarProgress-38I317::after,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .horizontal-2HFjqv .mediaBarWrapper-33h1oY .mediaBarPreview-1gUbVy::after {
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .button-ejjZWC,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButton-3IDSX-,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .videoButton-3NM9Tc {
    padding: 0 !important;
    color: rgb(var(--color-normal)) !important;
    background-color: transparent !important;
    transition: all .2s ease-in-out !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .button-ejjZWC:hover,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButton-3IDSX-:hover,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .videoButton-3NM9Tc:hover {
    transform: none !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarWrapper-33h1oY,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarWrapper-33h1oY::before,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarWrapper-33h1oY::after {
    background-color: rgb(var(--color-background)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarProgress-38I317,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarProgress-38I317::before,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarProgress-38I317::after {
    background-color: rgb(var(--color-accent)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarWrapper-33h1oY::before,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarProgress-38I317::before {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarWrapper-33h1oY::after,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarProgress-38I317::after {
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .volumeButtonSlider-2OrZ9e .mediaBarInteractionVolume-zGrOSh .mediaBarProgress-38I317 .mediaBarGrabber-FvJKJg {
    background-color: rgb(var(--color-accent2)) !important;
    border-radius: var(--roundness) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .hoverButtonGroup-2yZIzC {
    right: 15px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1FP9YQ .videoControls-2NzHnF {
    background-color: rgb(var(--color-background2)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1FP9YQ .playPausePop-1x3uED {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .embedFull-1HGV2S {
    background-color: rgb(var(--color-background)) !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .embedFull-1HGV2S .gridContainer-1cF_Ic {
    width: 100% !important;
    max-width: 100% !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .embedFull-1HGV2S .commandMention {
    background-color: rgb(var(--color-background2)) !important;
    color: rgb(var(--color-normal)) !important;
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .embedFull-1HGV2S .commandMention:hover {
    color: rgb(var(--color-accent)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .embedFull-1HGV2S .scrollbarGhostHairline-2LpzZ9 {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .container-3Sqbyb .button-ejjZWC {
    background-color: rgb(var(--color-background)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .container-3Sqbyb .button-ejjZWC:nth-child(1) {
    margin-left: 5px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .mediaAttachmentsContainer-1WGRWy,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .messageAttachment-CZp8Iv,
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .oneByOneGrid-3Cl27N {
    border-radius: 0 !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .embedFull-1HGV2S .embedSuppressButton-1rZHq6 {
    margin-right: 23px !important;
    margin-top: 5px !important;
}

/* Upload */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .attachment-1PZZB2 {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: 3px !important;
    border: none !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .attachment-1PZZB2 .attachmentInner-1fP7iq .filenameWrapper-11iVyW .filename-3A5bVl {
    color: rgb(var(--color-normal)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .attachment-1PZZB2 .attachmentInner-1fP7iq .filenameWrapper-11iVyW .size-2mQ7x9 {
    color: rgb(var(--color-hidden)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .attachment-1PZZB2 .attachmentInner-1fP7iq .progressContainer-39lW07 .progress-xNqAjK[style] {
    border-radius: 2px !important;
    background-color: rgb(var(--color-background)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .attachment-1PZZB2 .attachmentInner-1fP7iq .progressContainer-39lW07 .progress-xNqAjK .progressBar-1T6LYX[style] {
    background-color: rgb(var(--color-accent)) !important;
    border-radius: 2px !important;
}

/* Action Buttons */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .buttonContainer-1502pf .wrapper-2vIMkT {
    background-color: rgb(var(--color-background)) !important;
    border-radius: 3px !important;
    margin-top: 10px !important;
    margin-right: -10px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .buttonContainer-1502pf .wrapper-2vIMkT .button-3bklZh.selected-69H4ua {
    background-color: rgb(var(--color-background2), 0.5) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .hoverButtonGroup-2yZIzC {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: 3px !important;
    margin-top: 10px !important;
    margin-right: -10px !important;
    outline: none !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .hoverButtonGroup-2yZIzC .hoverButton-36QWJk:hover {
    background-color: rgb(var(--color-background), 0.5) !important;
}

/* Reactions */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .reactions-3ryImn .reaction-3vwAF2 {
    border-radius: 3px !important;
    margin-left: 3px !important;
    background: rgb(var(--color-background)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .reactions-3ryImn .reaction-3vwAF2:hover {
    border-color: transparent !important;
    box-shadow: 0px 0px 2px rgb(var(--color-accent2)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .reactions-3ryImn .reaction-3vwAF2 .emoji {
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .reactions-3ryImn .reaction-3vwAF2 .reactionCount-26U4As {
    color: rgb(var(--color-hidden)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .reactions-3ryImn .reaction-3vwAF2.reactionMe-1PwQAc {
    border-color: transparent !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .reactions-3ryImn .reaction-3vwAF2.reactionMe-1PwQAc .reactionCount-26U4As {
    color: rgb(var(--color-accent)) !important;
}

/* Invites */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j {
    background-color: rgb(var(--color-background)) !important;
    border-radius: 3px !important;
    max-width: 100% !important;
    height: 300px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j .inviteSplash-2nkLRX {
    height: 200px !important;
    background-color: rgb(var(--color-background)) !important;
    border-radius: 0px !important;
    border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j .header-3anOjb {
    margin-top: -5px !important;
    margin-left: -5px !important;
    letter-spacing: 2px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j .content-1r-J1r .headerLine-2AIsUj .icon-1zKOXL {
    border-radius: var(--roundness) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j .content-1r-J1r .headerLine-2AIsUj .inviteDestination-1rM5rX .infoBadge-3DRXxE .flowerStar-2tNFCR {
    color: rgb(var(--color-accent2), 0.5) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j .content-1r-J1r .headerLine-2AIsUj .guildDetail-3EJhW_ .statusWrapper-3CHb8F .status-JIDx3x {
    border-radius: var(--roundness) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j .content-1r-J1r .headerLine-2AIsUj .guildDetail-3EJhW_ .statusWrapper-3CHb8F .status-JIDx3x.statusOnline-Iw3r2o {
    background-color: rgb(var(--status-online)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .wrapper-1HIH0j .content-1r-J1r .headerLine-2AIsUj .guildDetail-3EJhW_ .statusWrapper-3CHb8F .status-JIDx3x.statusOffline-2R-ArP {
    background-color: rgb(var(--status-offline)) !important;
}

/* Special */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .scrollbarGhostHairline-2LpzZ9 {
    background-color: rgb(var(--color-background)) !important;
    border-radius: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .contents-2MsGLg .inline {
    background-color: rgb(var(--color-background)) !important;
    border-radius: 3px !important;
}

/* ImageUtilities */
.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .imageDetails-1t6Zms .anchor-1X4H4q {
    color: rgb(var(--color-hidden)) !important;
    transition: color .1s ease-in-out !important;
    padding-top: 2px !important;
    padding-left: 5px !important;
    text-decoration: none !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .imageDetails-1t6Zms .anchor-1X4H4q:hover {
    color: rgb(var(--color-accent)) !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .imageDetails-1t6Zms span {
    color: rgb(var(--color-hidden)) !important;
    padding-top: 3px !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .imageDetails-1t6Zms .cursorPointer-B3uwDA {
    background-color: rgb(var(--color-background)) !important;
    color: rgb(var(--color-hidden)) !important;
    border-radius: var(--roundness) !important;
    padding: 2px !important;
    transition: transform .2s ease-in-out !important;
}

.chat-2ZfjoI .messagesWrapper-RpOMA3 .messageListItem-ZZ7v6g .message-2CShn3 .container-2sjPya .imageDetails-1t6Zms .cursorPointer-B3uwDA:hover {
    transform: scale(1.05) !important;
}