/*

Name: BetterProfiles
Type: Addon
Author: Kurou#7608
Version 1.0.0
Website https://kinmokusei.dev/

*/

/* Improts */
@import url('https://dablulite.github.io/accountdetailscolumns/import.css');

:root {
	/* Colors */
	--color-accent: 250, 0, 0;                      /* 0, 250, 250 */
    --color-accent2: 200, 0, 0;                     /* 0, 150, 200 */
    --color-hidden: 150, 150, 150;                  /* 150, 150, 150 */
    --color-background: 35, 35, 35;                 /* 35, 35, 35 */
    --color-background2: 20, 20, 20;                /* 20, 20, 20 */
    --status-online: 250, 250, 250;                 /* 250, 250, 250 */
}

/* Profile | Modal Popup */
.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ {
    border-radius: 3px !important;
    background-color: rgb(var(--color-background2)) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userProfileInnerThemedNonPremium-1gT-zY {
    background: linear-gradient(to bottom, rgb(var(--color-background)) 60px, rgb(var(--color-background2))) !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .bannerSVGWrapper-qc0szY {
    border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .bannerSVGWrapper-qc0szY .pencilContainer-11Kuga {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: var(--roundness) !important;
    transition: transform .2s ease-in-out !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .bannerSVGWrapper-qc0szY .pencilContainer-11Kuga:hover {
    transform: scale(1.1) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .bannerSVGWrapper-qc0szY .pencilContainer-11Kuga svg path {
    fill: rgb(var(--color-hidden)) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .bannerSVGWrapper-qc0szY circle {
    display: none !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .avatarWrapper-3y0KZ1,
.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .avatarWrapper-3y0KZ1 * {
    border-radius: var(--roundness) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .avatarWrapper-3y0KZ1 {
    box-shadow: 0px 0px 20px rgb(0, 0, 0) !important;
    background-color: rgb(var(--color-background2)) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .profileBadges-31rDHI {
    background-color: rgb(var(--color-background2), 0.5) !important;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.3) !important;
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userProfileInner-3F03PX .wrapper-400BN2 .banner-2JvDVu {
    background: linear-gradient(90deg, rgb(var(--color-accent)), rgb(var(--color-accent2)) 50%, rgb(var(--color-accent))) !important;
    border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userPopoutOverlayBackground-dKOOda {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userProfileInnerThemedNonPremium-1gT-zY .userPopoutOverlayBackground-dKOOda {
    background: linear-gradient(to bottom, rgb(var(--color-background2)) 60px, rgb(var(--color-background))) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userProfileInnerThemedNonPremium-1gT-zY .userPopoutOverlayBackground-dKOOda .section-3FmfOT .role-2TIOKu {
    background-color: rgb(var(--color-background2)) !important;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5) !important;
    border-radius: var(--roundness) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userPopoutOverlayBackground-dKOOda .section-3FmfOT .inputWrapper-2K8ds1 {
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userProfileInnerThemedNonPremium-1gT-zY .userPopoutOverlayBackground-dKOOda .section-3FmfOT .inputWrapper-2K8ds1 {
    border-color: rgb(var(--color-background2)) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .userTag-PXLYzP .bot-XvK26D {
    background-color: rgb(var(--color-background)) !important;
    border-radius: var(--roundness) !important;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .section-3FmfOT .button-ejjZWC,
.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .section-3FmfOT .button-35nmN9 {
    background-color: rgb(var(--color-background)) !important;
    color: rgb(var(--color-hidden)) !important;
    border-radius: var(--roundness) !important;
    transition: transform .2s ease-in-out !important;
    background: none;
}

.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .section-3FmfOT .button-ejjZWC:hover,
.layerContainer-2v_Sit .layer-2aCOJ3 .userPopoutOuter-3AVBmJ .section-3FmfOT .button-35nmN9:hover {
    transform: scale(1.05) !important;
}

/* Profile | Modal Focused */
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T {
    border-radius: 3px !important;
    height: 800px !important;
    width: 1000px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileModalInner-3fh3QA {
    width: 1000px !important;
    height: 800px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileInnerThemedNonPremium-1gT-zY {
    background: linear-gradient(to bottom, rgb(var(--color-background)) 60px, rgb(var(--color-background2))) !important;
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .bannerSVGWrapper-qc0szY circle {
    display: none !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .bannerSVGWrapper-qc0szY {
    border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .bannerSVGWrapper-qc0szY .pencilContainer-11Kuga {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: var(--roundness) !important;
    transition: transform .2s ease-in-out !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .bannerSVGWrapper-qc0szY .pencilContainer-11Kuga:hover {
    transform: scale(1.1) !important;
}


.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileInnerThemedWithBanner-2624Yx .topSection-1Khgkv .bannerSVGWrapper-qc0szY .premiumIconWrapper-yyGDql .base-3IDx3L[style] {
    background-color: rgb(var(--color-background)) !important;
    border-radius: var(--roundness) !important;
}


.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .bannerSVGWrapper-qc0szY .pencilContainer-11Kuga svg path {
    fill: rgb(var(--color-hidden)) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .avatar-1YsFQ1,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .avatar-1YsFQ1 * {
    border-radius: var(--roundness) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .avatar-1YsFQ1 {
    box-shadow: 0px 0px 20px rgb(0, 0, 0) !important;
    background-color: rgb(var(--color-background2)) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .badgeList-2pMvZX {
    background-color: rgb(var(--color-background2), 0.5) !important;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.3) !important;
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .bannerSVGWrapper-qc0szY {
    max-height: 400px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileModalOverlayBackground-8p3-eU {
    border-radius: 3px !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
    height: 90% !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileInnerThemedNonPremium-1gT-zY .userProfileModalOverlayBackground-8p3-eU {
    background: linear-gradient(to bottom, rgb(var(--color-background2)) 60px, rgb(var(--color-background))) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE {
    flex: 0 1 100% !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .connectedAccounts-1HaiEx .connectedAccountContainer-2TWiXT {
    border-radius: 3px !important;
    background-color: rgb(var(--color-background2), 0.5) !important;
    border-color: rgb(var(--color-background2), 0.5) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .connectedAccounts-1HaiEx .connectedAccountContainer-2TWiXT .flowerStarContainer-1QeD-L .flowerStar-2tNFCR path {
    fill: rgb(var(--color-accent)) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .button-ejjZWC,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .additionalActionsIcon-1IPuHI,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .activityProfileV2-1N7pee .body-u1Y8uL .button-TGAkj4 {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: var(--roundness) !important;
    color: rgb(var(--color-hidden)) !important;
    transition: transform .2s ease-in-out !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .additionalActionsIcon-1IPuHI {
    padding: 4px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .button-ejjZWC:hover,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .topSection-1Khgkv .additionalActionsIcon-1IPuHI:hover,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .activityProfileV2-1N7pee .body-u1Y8uL .button-TGAkj4:hover {
    transform: scale(1.05) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .activityProfileV2-1N7pee {
    background-color: rgb(var(--color-background2), 0.5) !important;
    margin-top: 5px !important;
    margin-left: 10px !important;
    border-radius: var(--roundness) !important;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5) !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .activityProfileV2-1N7pee .body-u1Y8uL .bar-1GpknY {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .activityProfileV2-1N7pee .body-u1Y8uL .barInner-3dHef4 {
    background-color: rgb(var(--color-accent)) !important;
    border-radius: 3px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .listRow-Y5zoF8 {
    background-color: rgb(var(--color-background2), 0.5) !important;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.5) !important;
    border-radius: var(--roundness) !important;
    margin-top: 10px !important;
    transition: margin-left .2s ease-in-out !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .body-_QAKrE .listRow-Y5zoF8:hover {
    margin-left: 20px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .infoScroller-3MqKC5::-webkit-scrollbar,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .listScroller-XCVa1H::-webkit-scrollbar {
    width: 6px !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileInnerThemedNonPremium-1gT-zY .infoScroller-3MqKC5::-webkit-scrollbar-thumb,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileInnerThemedNonPremium-1gT-zY .listScroller-XCVa1H::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-accent)) !important;
    border-radius: 0 !important;
}

.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileInnerThemedWithBanner-2624Yx .infoScroller-3MqKC5::-webkit-scrollbar-thumb,
.layerContainer-2v_Sit .layer-1Ixpg3 .userProfileModalOuter-1FYL8T .userProfileInnerThemedWithBanner-2624Yx .listScroller-XCVa1H::-webkit-scrollbar-thumb {
    background-color: var(--profile-gradient-secondary-color) !important;
    border-radius: 0 !important;
}

/* Profile | Modal Inner */
.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userProfileOuterUnthemed-2b2rsv .userPanelInnerThemed-2xZFjl {
    background: linear-gradient(to bottom, rgb(var(--color-background)), rgb(var(--color-background2))) !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3) !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .bannerSVGWrapper-qc0szY circle {
    display: none !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .avatarWrapper-3y0KZ1 {
    background-color: rgb(var(--color-background2)) !important;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .avatarWrapper-3y0KZ1,
.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .avatarWrapper-3y0KZ1 * {
    border-radius: var(--roundness) !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .badgeList-1EecKl {
    background-color: rgb(var(--color-background2), 0.5) !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3) !important;
    border-radius: 3px !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .userPanelOverlayBackground-3xwDMp {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
    border-radius: 3px !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userProfileOuterUnthemed-2b2rsv .userPanelOverlayBackground-3xwDMp {
    background: linear-gradient(to bottom, rgb(var(--color-background2)), rgb(var(--color-background))) !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .userPanelOverlayBackground-3xwDMp .listRow-Y5zoF8 {
    background-color: rgb(var(--color-background2), 0.5) !important;
    margin-top: 5px !important;
    border-radius: var(--roundness) !important;
    transition: margin-left .2s ease-in-out !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userPanelOuter-xc-WYi .userPanelOverlayBackground-3xwDMp .listRow-Y5zoF8:hover {
    margin-left: 20px !important;
}

.base-2jDfDU .content-1jQy2l .profilePanel-2PWEok .userProfileOuterThemed-3EfHmv .bannerSVGWrapper-qc0szY .premiumIconWrapper-yyGDql .base-3IDx3L[style] {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: var(--roundness) !important;
}

/* Profile | Settings Modal "My Account" */
.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- {
    border-radius: 3px !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
    background-color: rgb(var(--color-background2)) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .bannerSVGWrapper-qc0szY circle {
    display: none !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .avatar-3mTjvZ {
    background-color: rgb(var(--color-background)) !important;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .avatar-3mTjvZ,
.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .avatar-3mTjvZ * {
    border-radius: var(--roundness) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .overflowMenuButton-1I3Jz1 {
    background-color: rgb(var(--color-background)) !important;
    padding: 3px !important;
    border-radius: var(--roundness) !important;
    transition: transform .2s ease-in-out !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .overflowMenuButton-1I3Jz1 .overflowMenuIcon-2Bjb5_ path {
    fill: rgb(var(--color-hidden)) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .overflowMenuButton-1I3Jz1:hover {
    transform: scale(1.05) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .badgeList-b3Ajmk .clickable-28QF7i {
    background-color: rgb(var(--color-background)) !important;
    border-radius: 3px !important;
    padding: 3px !important;
    box-shadow: 0px 0px 5px rgb(var(--color-background), 0.5) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .button-ejjZWC {
    background-color: rgb(var(--color-background)) !important;
    border-radius: var(--roundness) !important;
    color: rgb(var(--color-hidden)) !important;
    transition: transform .2s ease-in-out !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .userInfo-regn9W .button-ejjZWC:hover,
.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .background-3d_SjE .field-21XZwa .fieldButton-14lHvK:hover {
    transform: scale(1.05) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .background-3d_SjE .field-21XZwa {
    background-color: rgb(var(--color-background)) !important;
    border-radius: 3px !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #my-account-tab .accountProfileCard-lbN7n- .background-3d_SjE .field-21XZwa .fieldButton-14lHvK  {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: var(--roundness) !important;
    color: rgb(var(--color-hidden)) !important;
    transition: transform .2s ease-in-out !important;
}

/* Profile | Settings Modal "Profiles" */
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userPopoutOuter-3AVBmJ,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv {
    border-radius: 3px !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY {
    border-radius: 3px !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userPopoutOuter-3AVBmJ .userProfileInnerThemedNonPremium-1gT-zY {
    background: linear-gradient(to bottom, rgb(var(--color-background)) 60px, rgb(var(--color-background2))) !important;
    border-radius: 3px !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .bannerSVGWrapper-qc0szY circle,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .avatarUploader-CHGwK7 .status-b9jLr4,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .avatarUploader-CHGwK7 .imageUploaderIcon-2OHmFu,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY .bannerSVGWrapper-qc0szY circle,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY .avatarUploader-CHGwK7 .status-b9jLr4,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY .avatarUploader-CHGwK7 .imageUploaderIcon-2OHmFu {
    display: none !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .avatarUploader-CHGwK7,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY .avatarUploader-CHGwK7 {
    background-color: rgb(var(--color-background2)) !important;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5) !important;
    border: 3px solid rgb(var(--status-online)) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .avatarUploader-CHGwK7,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .avatarUploader-CHGwK7 *,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY .avatarUploader-CHGwK7,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY .avatarUploader-CHGwK7 * {
    border-radius: var(--roundness) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .profileBadges-31rDHI,
.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .userPopoutInner-1hXSeY .profileBadges-31rDHI {
    background-color: rgb(var(--color-background2), 0.5) !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3) !important;
    border-radius: 3px !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .userPopoutOverlayBackground-dKOOda {
    background: linear-gradient(to bottom, rgb(var(--color-background2)) 60px, rgb(var(--color-background))) !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
    border-radius: 3px !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileOuterThemed-3EfHmv .overlayBackground-1KgwVi {
    border-radius: 3px !important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .userPopoutOverlayBackground-dKOOda .lastSection-3_1yKt .button-1d_47w {
    background-color: rgb(var(--color-background2)) !important;
    border-radius: var(--roundness) !important;
    color: rgb(var(--color-hidden)) !important;
    transition: transform .2s ease-in-out !important;
}

.layers-OrUESM .contentRegion-3HkfJJ #profile-customization-tab .userProfileInnerThemedNonPremium-1gT-zY .userPopoutOverlayBackground-dKOOda .lastSection-3_1yKt .button-1d_47w:hover {
    transform: scale(1.05) !important;
    background-color: rgb(var(--color-background2)) !important;
}